SECRET_KEY=X
ALARM_SOUND_MINUTES=1
DOOR_SENSOR_PIN=8
BUZZER_PIN=7
EMAIL_HOST=smtp.mail.io
EMAIL_PORT=587
EMAIL_HOST_USER=user@mail.com
EMAIL_HOST_PASSWORD=X
EMAIL_FROM=alarm@mail.com
EMAIL_TO=receiver1@mail.com, receiver2@mail.com
EMAIL_SUBJECT=ALARM
EMAIL_MESSAGE=Door has been opened!
